<ion-header>
    <ion-navbar core-back-button>
        <!-- <ion-title>{{ 'core.login.login' | translate }}</ion-title> -->

    </ion-navbar>
</ion-header>
<ion-content padding>

    <core-loading [hideUntil]="pageLoaded">

        <div text-wrap text-center margin-bottom>
            <div class="core-login-site-logo">
                <!-- Show site logo or a default image. -->
                <img *ngIf="logoUrl" [src]="logoUrl" role="presentation" onError="this.src='assets/img/login_logo.png'" style="width: 50%; height: 50%;">
                <img *ngIf="!logoUrl" src="assets/img/login_logo.png" role="presentation" style="width: 50%; height: 50%;">
            </div>

            <!-- <h3 *ngIf="siteName" padding class="core-sitename"><core-format-text [text]="siteName" [filter]="false"></core-format-text></h3> -->
            <!-- <p class="core-siteurl">{{siteUrl}}</p> -->
        </div>

        <div text-wrap text-center margin-top>
            <h1>Welcome Back</h1>
            <p>Pick a plan to subscribe or login</p>

        </div>

        <ion-grid text-center>
            
            <ion-row>
                <ion-col>
                    <ion-card class="plans" (click)="openWithInAppBrowser('http://jangukids.ng/subscription/Daily')">
                        <h4 class="ion-margin-vertical" style="font-weight: bolder;">&#8358;50.00</h4>
                        <h2 style="font-weight: bolder;">DAILY</h2>
                        <!-- <br><br><br><br> -->
                        
                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card class="plans" (click)="openWithInAppBrowser('http://jangukids.ng/subscription/Weekly')">
                        
                        <!-- <br><br><br><br> -->
                        <h4 class="ion-margin-vertical" style="font-weight: bolder;">&#8358;100.00</h4>
                        <h2 style="font-weight: bolder;">WEEKLY</h2>
                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card class="plans" (click)="openWithInAppBrowser('http://jangukids.ng/subscription/Monthly')">
                        
                        <!-- <br><br><br><br> -->
                        <h4 class="ion-margin-vertical" style="font-weight: bolder;">&#8358;300.00</h4>
                        <h2 style="font-weight: bolder;">MONTHLY</h2>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>







        <form ion-list [formGroup]="credForm" (ngSubmit)="login($event)" class="core-login-form" #credentialsForm>
            <ion-item *ngIf="siteChecked && !isBrowserSSO">
                <ion-input type="text" name="username" placeholder="{{ 'core.login.username' | translate }}" formControlName="username" autocapitalize="none" autocorrect="off" autocomplete="username"></ion-input>
            </ion-item>
            <ion-item *ngIf="siteChecked && !isBrowserSSO" margin-bottom>
                <core-show-password item-content [name]="'password'">
                    <ion-input class="core-ioninput-password" name="password" type="password" placeholder="{{ 'core.login.password' | translate }}" formControlName="password" core-show-password [clearOnEdit]="false" autocomplete="current-password"></ion-input>
                </core-show-password>
            </ion-item>
            <div padding>
                <button ion-button block [disabled]="siteChecked && !isBrowserSSO && !credForm.valid" class="core-login-login-button">{{ 'core.login.loginbutton' | translate }}</button>
            </div>

            <ng-container *ngIf="showScanQR">
                <div class="core-login-site-qrcode-separator">{{ 'core.login.or' | translate }}</div>
                <ion-item class="core-login-site-qrcode" no-lines>
                    <a ion-button block color="light" margin-top icon-start text-wrap href="https://jangukids.ng/subscription/Monthly">
                        <core-icon name="fa-credit-card" aria-hidden="true"></core-icon>
                        Subscribe
                    </a>
                </ion-item>
            </ng-container>
        </form>

        <!-- Forgotten password button. -->
        <ion-list no-lines *ngIf="showForgottenPassword" class="core-login-forgotten-password core-login-link">
            <a ion-item text-center text-wrap (click)="forgottenPassword()" detail-none>
                {{ 'core.login.forgotten' | translate }}
            </a>
        </ion-list>

        <ion-list *ngIf="identityProviders && identityProviders.length" padding-top class="core-login-identity-providers">
            <ion-item text-wrap no-lines><h3 class="item-heading">{{ 'core.login.potentialidps' | translate }}</h3></ion-item>
            <button ion-item *ngFor="let provider of identityProviders" text-wrap class="core-oauth-icon" (click)="oauthClicked(provider)" title="{{provider.name}}">
                <img [src]="provider.iconurl" alt="" width="32" height="32" item-start>
                {{provider.name}}
            </button>
        </ion-list>

        <ion-list *ngIf="canSignup" padding-top class="core-login-sign-up">
            <ion-item text-wrap no-lines><h3 class="item-heading">{{ 'core.login.firsttime' | translate }}</h3></ion-item>
            <ion-item no-lines text-wrap *ngIf="authInstructions">
                <p><core-format-text [text]="authInstructions" [filter]="false"></core-format-text></p>
            </ion-item>
            <button ion-button block color="light" (click)="signup()">{{ 'core.login.startsignup' | translate }}</button>
        </ion-list>
    </core-loading>
</ion-content>
